.box{
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: black;
}
.menutext{
	-fx-border-width: 0 0 1px 0;
	-fx-border-style: solid;
	-fx-border-color: black;
}
.menutext:hover{
	-fx-text-fill: white;
	-fx-cursor: hand;
	-fx-background-color: black;
}
.menu{
	-fx-background-color: #C5CBE3;
}
.fakten{
	-fx-background-color: #e98074;
}
.tabellen{
	
}
.ueberschrift{
	-fx-background-color: #C5CBE3;
}
.faktentext{
	-fx-text-fill: black;
}